<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.innopolis.jmemvit.ViewManager"
            icon="icons/sample.gif"
            id="JMemvit.view1"
            name="JMemvit"
            restorable="true">
      </view>
   </extension>

</plugin>
